{% extends 'drugs/base.html' %} {% load static %} {% block content %}
<form method="POST" class="post-form" action="/drugs/update/{{drug.id}}">
  {% csrf_token %}
  <div class="container">
    <br />
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <h3>Update Details</h3>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Pharmacy:</label>
      <div class="col-sm-4">
        <input
          type="text"
          name="pharmacy"
          id="id_pharmacy"
          required
          maxlength="20"
          value="{{ drug.pharmacy }}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Drug Name:</label>
      <div class="col-sm-4">
        <input
          type="text"
          name="name"
          id="id_name"
          required
          maxlength="100"
          value="{{ drug.name }}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Price:</label>
      <div class="col-sm-4">
        <input
          type="number"
          name="price"
          id="id_price"
          required
          step="0.25"
          value="{{ drug.price }}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Expiry Date:</label>
      <div class="col-sm-4">
        <input
          type="text"
          name="expiry_date"
          id="id_expiry_date"
          required
          maxlength="15"
          value="{{ drug.expiry_date }}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-success">Update</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
