{% load static %}
<html>
  <head>
    <meta name="viewport" content="with=device—width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MedTech</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/fontawesome.min.css' %}" />
    <link href="{% static 'symbol.jpg' %}" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <div class="bg-light" style="padding-left: 20px; padding-right: 20px">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}"
          ><img src="{% static 'symbol.jpg' %}" width="50" height="50"
        /></a>
        {% if user.is_authenticated %}
        <a href="{% url 'home' %}" class="nav-link text-dark">HOME</a>
        <a href="{% url 'all_stores' %}" class="nav-link text-dark">STORE</a>
        <a href="{% url 'all_drugs' %}" class="nav-link text-dark">DRUGS</a>
        <a href="{% url 'logout' %}" class="nav-link text-dark">LOGOUT</a>
        {% else %}
        <a href="{% url 'login' %}" class="nav-link text-dark">LOGIN</a>
        <a href="{% url 'register' %}" class="nav-link text-dark">REGISTER</a>
        {% endif %}
      </nav>
    </div>
    <div class="dash-container" style="margin: 30px; max-height: 100vh">
      <div class="dash-content">
        <div class="row justify-content-center">
          {% if user.is_authenticated %}
          <div class="card" style="min-width: 800px;">
            <div class="card-header">
              <h1>Stores</h1>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody style="overflow: scroll;">
                  {% for store in stores %}
                  <tr>
                    <td>{{ store.name }}</td>
                    <td>{{ store.location }}</td>
                    <td>{{ store.phone }}</td>
                    <td>
                      <a
                        href="/stores/single/{{ store.id }}"
                        class="btn btn-sm d-inline-flex align-items-center bg-warning"
                        title="View"
                      >
                        <i class="fa fa-eye text-white"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="card-header">
              <h1>Drugs</h1>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Store</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody style="overflow: scroll;">
                  {% for drug in drugs %}
                  <tr>
                    <td>{{ drug.name }}</td>
                    <td>
                      <a href="stores/single/{{drug.pharmacy.id }}"> {{ drug.pharmacy }} </a>
                    </td>
                    <td>{{ drug.price }}</td>
                    <td>
                      {% if user.is_authenticated and user.id == drug.pharmacy.owner.id %}
                      <span>
                        <a
                          href="/drugs/edit/{{ drug.id }}"
                          class="btn btn-sm d-inline-flex align-items-center bg-info"
                          title="Edit"
                        >
                          <i class="fa fa-pen text-white"></i>
                        </a>
                        <a
                          href="/drugs/delete/{{ drug.id }}"
                          method="POST"
                          class="btn btn-sm d-inline-flex align-items-center bg-danger"
                          title="Delete"
                        >
                          <i class="fa fa-trash text-white"></i>
                        </a>
                      </span>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% else %}
          <div class="card">
            <div class="card-header">
              <h1>MedTech</h1>
            </div>
            <div class="card-body">
              <p>
                MedTech is a web application that allows users to search for drugs, view their
                details, and find the stores that sell them.
              </p>
              <p>
                To use the application, you must first register an account. Once you have
                registered, you can log in and start searching for drugs.
              </p>
              <p>
                If you are a store owner, you can register your store and add drugs to it. You can
                also edit the details of your store and the drugs you sell.
              </p>
              <div class="row justify-content-center">
                <a href="{% url 'login' %}" class="btn btn-primary">LOGIN</a>
                <span style="padding-left: 10px; padding-right: 10px"></span>
                <a href="{% url 'register' %}" class="btn btn-primary">REGISTER</a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
  </body>
</html>
